#article-form.row
  / Left hand tabs & form actions
  .col-sm-2
    %ul{ class: 'nav nav-pills nav-stacked', id: 'new-article-tabs' }
      %li.active
        %a{ href: '#content', role: 'tab', 'data-toggle' => 'tab' } Content
      %li
        %a{ href: '#hero-image', role: 'tab', 'data-toggle' => 'tab' } Hero image
      %li
        %a{ href: '#photographer', role: 'tab', 'data-toggle' => 'tab' } Photographer
      %li
        %a{ href: '#meta-data', role: 'tab', 'data-toggle' => 'tab' } Meta data

    %hr

    .form-actions
      =f.submit pat(:save), class: 'btn btn-success'
      &nbsp;
      =f.submit pat(:publish), class: 'btn btn-info', name: 'publish'
      &nbsp;
      =link_to pat(:cancel), url(:articles, :index), class: 'btn btn-default'

  / Right hand tab content
  .col-sm-10
    .tab-content

      / Content
      %div{ class: 'tab-pane fade in active', id: 'content'}
        %h4 Content
        - error = @article.errors.key?(:title) && @article.errors[:title].count > 0
        %fieldset.control-group{ class: error ? 'has-error' : ''}
          =f.label :title, class: 'control-label'
          .controls
            ~f.text_field :title, class: 'form-control input-with-feedback', autofocus: true
            %span.help-inline= f.error_message_on(:title, class: 'text-error') if error

        - error = @article.errors.key?(:body) && @article.errors[:body].count > 0
        %fieldset.control-group{:class => error ? 'has-error' : ''}
          =f.label :body, :class => 'control-label'
          .controls
            ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
            %span.help-inline= f.error_message_on(:body, :class => 'text-error') if error

      / Hero image
      %div{ class: 'tab-pane fade', id: 'hero-image'}
        %h4 Hero image
        / Horizontal tabs for adding an image
        %ul{ class: 'nav nav-tabs', id: 'new-article-image-tabs' }
          %li.active
            %a{ href: '#new-image', role: 'tab', 'data-toggle' => 'tab' } Add new
          %li
            %a{ href: '#existing-image', role: 'tab', 'data-toggle' => 'tab' } Use existing

        / Content for adding an image
        .tab-content
          %div{ class: 'tab-pane fade in active', id: 'new-image' }
            %fieldset.control-group{ class: error ? 'has-error' : ''}
              = f.label :image_title, class: 'control-label'
              .controls
                ~f.text_field :image_title, value: article.image_title, class: 'form-control input-with-feedback', autofocus: true
                %span.help-inline= f.error_message_on(:image_title, class: 'text-error') if error
            %img{ src: "#{ article.image_url }" }
            %fieldset.control-group
              = f.label :image_file, class: 'control-label'
              .controls
                = f.file_field :image_file

          %div{ class: 'tab-pane fade', id: 'existing-image' }
            All the images

      %div{ class: 'tab-pane fade', id: 'photographer'}
        %h4 Photographer

      %div{ class: 'tab-pane fade', id: 'meta-data'}
        %h4 Meta data